{
  "env": {
    "browser": true,
    "es2021": true},
  "extends": ["react-app", "eslint:recommended", "airbnb", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true},
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js",".jsx",".tsx"] }],
    "no-var": "error",
    "no-multiple-empty-lines": "error",
//    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-console": "off",
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-unused-vars": "error",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "spaced-comment": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
